* {
  padding: 0;
  margin: 0;
}
body {
  background-color: #222;
  color: #fff;
  font-family: system-ui;
}
.crud {
  width: 80%;
  margin: auto;
}
.head {
  text-align: center;
  text-transform: uppercase;
  margin: 10px 0;
}
input {
  width: 100%;
  height: 30px;
  outline: none;
  border: none;
  background-color: #111;
  margin: 4px 0;
  border-radius: 5px;
  padding: 5px;
  color: #fff;
}
input:focus {
  background-color: #000;
  transform: scale(1.005);
}
.price input {
  width: 20%;
}
#total {
  background-color: #f61504;
  padding: 5px 2px;
  border-radius: 4px;
}
#total::before {
  content: "Total: ";
  padding: 3px;
}
button {
  width: 100%;
  height: 30px;
  border: 0;
  cursor: pointer;
  background-color: #00c896;
  color: #fff;
  border-radius: 20px;
  transition: 0.3s;
}
button:hover {
  background-color: #247d66;
  letter-spacing: 1px;
}
.btnSearch {
  display: flex;
  justify-content: space-between;
}
.btnSearch button {
  width: 45%;
}
#deleteAll {
  margin: 20px 0;
}
table {
  width: 100%;
  text-align: center;
  margin: 10px 0;
}
table th {
  text-transform: uppercase;
}
th td {
  padding: 5px;
}
.dark-mode {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fff;
  color: #000;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
}

.dark {
  background-color: #fff;
  color: #000;
}
.dark input {
  background-color: #eee;
  color: #000;
}
.dark .dark-mode {
  background-color: #000;
  color: #fff;
}
@media screen and (max-width: 600px) {
  table {
    font-size: 10px;
  }
  button {
    font-size: 10px;
  }
}
